:root {
  /* COLORS */
  --neutral900: hsl(243, 96%, 9%);
  --neutral800: hsl(243, 27%, 20%);
  --neutral700: hsl(243, 23%, 24%);
  --neutral600: hsl(243, 23%, 30%);
  --neutral300: hsl(240, 6%, 70%);
  --neutral200: hsl(250, 6%, 84%);
  --neutral0: hsl(0, 0%, 100%);

  --orange500: hsl(28, 100%, 52%);

  --blue500: hsl(233, 67%, 56%);

  --blue700: hsl(248, 70%, 36%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral900);
  color: var(--neutral0);
  font-size: 18px;
  padding: 16px 16px 48px;
  line-height: 120%;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  min-height: 100vh;
}

header {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

main {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

form {
  width: 100%;
}

.logoUtilityBanner {
  width: 100%;
  gap: 16px;
}
.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.logoUtilityBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
}

.textPreset1 {
  font-family: "DM Sans", sans-serif;
  font-size: 96px;
  line-height: 100%;
  font-style: italic;
  letter-spacing: -2px;
}

.textPreset4 {
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--neutral0);
}

.textPreset5 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--neutral0);
}

.textPreset6 {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

.textPreset7 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

.textPreset8 {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

/* GRID LAYOUT */
.searchbar {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.searchbar label {
  width: 100%;
}

input {
  width: 100%;
  height: 56px;
  background-color: var(--neutral800);
  padding: 16px 24px;
  border-radius: 12px;
  color: var(--neutral200);
  background-image: url("/src/assets/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
}

input:hover {
  background-color: var(--neutral700);
}

.searchbutton {
  grid-area: searchbutton;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: var(--blue500);
  padding: 16px 24px;
  color: var(--neutral0);
  border-radius: 12px;
  font-family: "DM";
  font-size: 20px;
  margin: 0;
  height: 56px;
  width: 100%;
}

button:hover {
  background-color: var(--blue700);
  cursor: pointer;
}

.currentdate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background-color: var(--neutral800);
  background-image: url(./assets/images/bg-today-large.svg);
  border-radius: 20px;
  grid-area: currentdate;
  width: 100%;
  padding: 80px 24px;
  text-align: center;
}

.iconCurrent {
  width: 120px;
  height: 120px;
}

.feelhumid {
  /* background-color: darkslateblue; */
  grid-area: feelhumid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 100%;
}

.weatherDetail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 1 0;
  padding: 20px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral600);
  background-color: var(--neutral800);
  text-align: center;
}

.windprecipitation {
  grid-area: windprecipitation;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 100%;
}

.hourly {
  grid-area: hourly;
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--neutral800);
  padding: 20px 16px;
  border-radius: 20px;
  overflow: hidden;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--neutral600);
  color: var(--neutral0);
  padding: 8px 16px;
  text-align: center;
  border-radius: 8px;
}

select:hover {
  cursor: pointer;
}

.hourHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: calc((8 * 56px) + (7 * 16px));
  padding-right: 4px;
}

.hourContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background-color: var(--neutral700);
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral600);
  min-height: 56px;
}

.hourlyLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.days {
  grid-area: days;
  width: 100%;
}

.sevenDayContainer {
  display: flex;
  gap: 16px;
  align-self: stretch;
  margin-top: 10px;
  flex-wrap: wrap;
}

.dailyHighLow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 1 calc((100% - 32px) / 3);
  min-width: 100px;
  background-color: var(--neutral800);
  padding: 16px 10px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral600);
}

.iconDaily {
  height: 60px;
  width: 60px;
}

.iconHourly {
  height: 40px;
  width: 40px;
}

.noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  body {
    padding: 24px 24px 80px;
    gap: 48px;
  }

  header {
    max-width: 720px;
  }

  main {
    max-width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "searchbar searchbar"
      "currentdate currentdate"
      "feelhumid windprecipitation"
      "days days"
      "hourly hourly";
    column-gap: 20px;
    row-gap: 32px;
  }

  form {
    grid-area: searchbar;
  }

  .searchbar {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  input {
    width: 590px;
  }

  button {
    width: 114px;
  }

  .currentdate {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 80px 24px;
  }

  .hourly {
    max-width: 720px;
    padding: 24px;
  }

  .dayContainer {
    flex: 1 1 calc((100% - 48px) / 4);
    min-width: 150px;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 48px 112px 80px;
    gap: 64px;
  }

  header {
    max-width: 1216px;
  }

  main {
    max-width: 1216px;
    display: grid;
    grid-template-columns: 384px 384px 384px;
    grid-template-areas:
      "searchbar searchbar searchbar"
      "currentdate currentdate hourly"
      "feelhumid windprecipitation hourly"
      "days days hourly";
    column-gap: 32px;
    row-gap: 32px;
  }

  form {
    grid-area: searchbar;
    justify-self: start;
  }

  .searchbar {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 656px;
  }

  input {
    width: 526px;
  }

  button {
    width: 114px;
  }

  .currentdate {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 80px 24px;
  }

  .hourly {
    max-width: 384px;
    width: 384px;
    padding: 24px;
  }

  .sevenDayContainer {
    gap: 20px;
  }

  .dayContainer {
    flex: 1 1 0;
    min-width: 0;
  }
}
/* END GRID LAYOUT */

/* UNIT DROPDOWN STYLES */

.dropDown {
  position: relative;
  width: 214px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #262540;
  padding: 6px 8px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #3c3b5e;
  box-shadow: 0px 8px 16px 0
    rgb(0.007843137718737125 0.003921568859368563 0.1725490242242813 / 0.32);
}

.unitSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: var(--neutral800);
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.unitsMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  background-color: #262540;
  border: 1px solid #3c3b5e;
  border-radius: 12px;
  padding: 6px 8px;
  box-shadow: 0px 8px 16px 0
    rgb(0.007843137718737125 0.003921568859368563 0.1725490242242813 / 0.32);
  z-index: 10;
}

.unitLabel.textPreset7 {
  width: 198px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.unitSelections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}

.unitVariables {
  color: var(--neutral300);
}

.unitOption {
  width: 198px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 8px;
  border-radius: 8px;
  background-color: var(--neutral800);
}

.unitOptionSelected {
  width: 198px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 8px;
  border-radius: 8px;
  background-color: var(--neutral700);
}

.divider {
  height: 1px;
  background-color: var(--neutral600);
  margin-top: 8px;
  margin-bottom: 8px;
}
