:root {
  /* COLORS */
  --neutral900: hsl(243, 96%, 9%);
  --neutral800: hsl(243, 27%, 20%);
  --neutral700: hsl(243, 23%, 24%);
  --neutral600: hsl(243, 23%, 30%);
  --neutral300: hsl(240, 6%, 70%);
  --neutral200: hsl(250, 6%, 84%);
  --neutral0: hsl(0, 0%, 100%);

  --orange500: hsl(28, 100%, 52%);

  --blue500: hsl(233, 67%, 56%);

  --blue700: hsl(248, 70%, 36%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral900);
  color: var(--neutral0);
  font-size: 18px;
  padding: 48px 112px 80px;
  line-height: 120%;
  letter-spacing: 0;
}

.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.logoUtilityBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--neutral800);
  color: var(--neutral0);
  padding: 12px 16px;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
}

select,
::picker(select) {
  appearance: base-select;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
}

.textPreset1 {
  font-family: "DM Sans", sans-serif;
  font-size: 96px;
  line-height: 100%;
  font-style: italic;
  letter-spacing: -2px;
}

.textPreset4 {
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--neutral0);
}

.textPreset6 {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

.textPreset7 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

.textPreset8 {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

/* FROM GRID PRACTICE */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr;
  grid-template-areas:
    "searchbar searchbar searchbutton"
    "currentdate currentdate hourly"
    "feelhumid windprecipitation hourly"
    "days days hourly";
  height: 100vh;
  column-gap: 10px;
}

.searchbar {
  grid-area: searchbar;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input {
  /* width: 526px; */
  background-color: var(--neutral800);
  padding: 16px 24px;
  border-radius: 12px;
  color: var(--neutral200);
  background-image: url("/src/assets/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
}

input:hover {
  background-color: var(--neutral700);
}

.searchbutton {
  grid-area: searchbutton;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: var(--blue500);
  padding: 16px 24px;
  color: var(--neutral0);
  border-radius: 12px;
  font-family: "DM";
  font-size: 20px;
  margin: 10px;
}

button:hover {
  background-color: var(--blue700);
  cursor: pointer;
}

.currentdate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--neutral800);
  /* background-image: url(./assets/images/bg-today-large.svg); */
  border-radius: 20px;
  grid-area: currentdate;
}

.iconCurrent {
  width: 120px;
  height: 120px;
}

.feelhumid {
  /* background-color: darkslateblue; */
  grid-area: feelhumid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.weatherDetail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  padding: 20px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral600);
  background-color: var(--neutral800);
}

.windprecipitation {
  grid-area: windprecipitation;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.hourly {
  grid-area: hourly;
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #262540;
  padding: 24px;
  border-radius: 20px;
}

.hourHeading {
  width: 336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background-color: #302f4a;
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #3c3b5e;
}

.days {
  grid-area: days;
}

.sevenDayContainer {
  display: flex;
  gap: 20px;
  align-self: stretch;
  margin-top: 10px;
}

.dailyHighLow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
  background-color: var(--neutral800);
  padding: 16px 10px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral600);
}

.iconDaily {
  height: 60px;
  width: 60px;
}

.noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (max-width: 600px) {
  main {
    grid-template-areas:
      "searchbar"
      "searchbutton"
      "currentdate"
      "feelhumid"
      "windprecipitation"
      "days"
      "hourly";

    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  main {
    grid-template-areas:
      "searchbar  searchbutton"
      "currentdate currentdate"
      "feelhumid windprecipitation"
      "days days"
      "hourly hourly";

    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr  1fr 1fr; */
    grid-template-areas:
      "searchbar searchbar searchbutton"
      "currentdate currentdate hourly"
      "feelhumid windprecipitation hourly"
      "days days hourly";
  }
}
/* END GRID PRACTICE */

/* UNIT DROPDOWN STYLES */

.dropDown {
  position: relative;
  width: 214px;
display: flex;
flex-direction: column;
gap: 4px;
background-color: #262540;
padding: 6px 8px;
border-radius: 12px;
border-width: 1px;
border-style: solid;
border-color: #3c3b5e;
box-shadow: 0px 8px 16px 0 rgb(0.007843137718737125 0.003921568859368563 0.1725490242242813 / 0.32);
}

.unitSelect {
display: flex;
justify-content: center;
align-items: center;
gap: 6px;
background-color: var(--neutral800);
padding: 8px 10px;
border-radius: 6px;
cursor: pointer;
}

.unitsMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  background-color: #262540;
  border: 1px solid #3c3b5e;
  border-radius: 12px;
  padding: 6px 8px;
  box-shadow: 0px 8px 16px 0 rgb(0.007843137718737125 0.003921568859368563 0.1725490242242813 / 0.32);
  z-index: 10;
}

.unitLabel.textPreset7 {
  width: 198px;
display: flex;
align-items: center;
gap: 10px;
padding: 10px 8px;
border-radius: 8px;
cursor:pointer
}

.unitSelections {
  display: flex;
flex-direction: column;
gap: 8px;
align-self: stretch;
}

.unitVariables {
  color: var(--neutral300);
}

.unitOption {
width: 198px;
display: flex;
align-items: center;
gap: 10px;
padding: 10px 8px;
border-radius: 8px;
background-color: var(--neutral800);
}

.unitOptionSelected {
  width: 198px;
display: flex;
align-items: center;
gap: 10px;
padding: 10px 8px;
border-radius: 8px;
  background-color: var(--neutral700);
}

.divider {
  height: 1px;
background-color: var(--neutral600);
margin-top: 8px;
margin-bottom: 8px;
}